@font-face {
  font-family: "Karla";
  src: url(../assets/fonts/Karla-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #E0F1E8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  background-color: #FFFFFF;
  border-radius: 1.6rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem 0;
}
@media screen and (max-width: 450px) {
  .mainContainer {
    width: clamp(30rem, 91.47vw, 40rem);
    padding: 2.4rem;
    margin: 3.2rem 1.6rem;
  }
}
@media screen and (min-width: 450px) and (max-width: 1024px) {
  .mainContainer {
    width: clamp(40rem, 89.85vw, 70rem);
  }
}
@media screen and (min-width: 1024px) {
  .mainContainer {
    width: clamp(70rem, 51.113vw, 73.6rem);
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem 0;
}

.mainFieldset {
  width: 100%;
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem 1.6rem;
}
@media screen and (max-width: 450px) {
  .mainFieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.queryTypeFieldset {
  grid-row: 4/5;
  grid-column: 1/3;
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem 1.6rem;
}
@media screen and (max-width: 450px) {
  .queryTypeFieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1.6rem 0;
  }
}

.contactUsLegend {
  grid-row: 1/2;
  grid-column: 1/3;
  color: #2A4144;
  font-family: "Karla";
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.1rem;
  margin-bottom: 0.8rem;
}
@media screen and (max-width: 450px) {
  .contactUsLegend {
    margin-bottom: 3.2rem;
  }
}

.queryTypeLegend {
  grid-row: 1/2;
  grid-column: 1/3;
  color: #2A4144;
  font-family: "Karla";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}
@media screen and (max-width: 450px) {
  .queryTypeLegend {
    margin-bottom: 1.6rem;
  }
}

.inputEl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem 0;
  width: 100%;
}
.inputEl:has([type=radio]:checked) {
  background-color: #E0F1E8;
  outline: 0.1rem solid #0C7D69;
}
.inputEl:has([type=radio]) {
  width: 100%;
  max-height: 5.1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 0 1.2rem;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #86A2A5;
}
.inputEl:has([type=radio]):hover {
  outline: 0.1rem solid #0C7D69;
  transition: 200ms;
}
.inputEl:has([type=radio]):focus, .inputEl:has([type=radio]):focus-visible, .inputEl:has([type=radio]):active {
  outline: 0.1rem solid #0C7D69;
}
.inputEl:has([type=radio]) input {
  width: 2rem;
  height: 2rem;
  accent-color: #0C7D69;
}
.inputEl:has([type=radio]):has(#generalEnquiry) {
  grid-row: 2/3;
  grid-column: 1/2;
}
.inputEl:has([type=radio]):has(#supportRequest) {
  grid-row: 2/3;
  grid-column: 2/3;
}
.inputEl:has(#checkbox) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 0 1.6rem;
}
.inputEl:has(#checkbox) input {
  appearance: none;
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0;
  border-radius: 2px;
}
.inputEl:has(#checkbox) input::after {
  content: "";
  position: absolute;
  top: -0.1rem;
  left: -0.1rem;
  width: 0px;
  height: 0px;
  font-size: 30px;
  background-image: url("../assets/images/icon-checkbox-check.svg");
  background-repeat: no-repeat;
}
.inputEl:has(#checkbox) input:checked:after {
  width: 1.8rem;
  height: 1.8rem;
  transition: 300ms;
}
.inputEl:has(#firstName) {
  grid-row: 2/3;
  grid-column: 1/2;
}
.inputEl:has(#lastName) {
  grid-row: 2/3;
  grid-column: 2/3;
}
.inputEl:has(#email) {
  grid-row: 3/4;
  grid-column: 1/3;
}
.inputEl:has(#message) {
  grid-row: 5/6;
  grid-column: 1/3;
}
.inputEl input {
  max-height: 5.1rem;
}
@media screen and (max-width: 450px) {
  .inputEl textarea {
    height: 22.73vh;
  }
}
@media screen and (min-width: 450px) and (max-width: 1024px) {
  .inputEl textarea {
    height: 12.5vh;
  }
}
@media screen and (min-width: 1024px) {
  .inputEl textarea {
    height: 9.95vh;
  }
}
.inputEl input, .inputEl textarea {
  width: 100%;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #86A2A5;
  color: #2A4144;
  font-family: "Karla";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}
.inputEl input:hover, .inputEl textarea:hover {
  outline: 0.02rem solid #0C7D69;
  transition: 200ms;
}
.inputEl input:focus, .inputEl input:focus-visible, .inputEl input:active, .inputEl textarea:focus, .inputEl textarea:focus-visible, .inputEl textarea:active {
  outline: 0.1rem solid #0C7D69;
}

.label {
  color: #2A4144;
  font-family: "Karla";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

.star {
  color: #0C7D69;
}

.submitBtn {
  width: 100%;
  padding: 1.6rem 4rem;
  color: #FFFFFF;
  font-family: "Karla";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
  background-color: #0C7D69;
  border: none;
  border-radius: 0.8rem;
}
.submitBtn:hover {
  background-color: rgb(6, 63, 53);
  transition: 500ms;
}

/*# sourceMappingURL=App.css.map */
